/*BOOTSTRAP OVERRIDE*/
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #000000;
  background-color: #ffffff;
}

hr{border-bottom:none;}

.nav > li > a{
	
	
	
	margin-top:5px;
	margin-bottom:5px;
}

.nav-pills > li{
	clear:right;
	width:33%;
	font-size:19pt;
	margin-right:16%;
	float:left;
}



.nav-pills > li > a{
	
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:middle;
	line-height:normal;
	text-decoration:none;
}
.nav-pills > li > a .inner-label,
.nav-pills > li > a .vr,
.nav-pills > li > a .ind{
	display:inline-block;
	vertical-align:middle;
}
.nav-pills > li > a .ind{width:1em;}
.nav-pills > li > a .inner-label{width:100pt;}
.nav-pills > li > a .vr{width: 1px;height: 1em;}
.nav-pills > li > a.word-long .inner-label{
	font-size:12pt;
}

.nav-pills > li > a.word-medium .inner-label{
	font-size:15pt;
}

.nav-pills > li > a.word-short .inner-label{

}

.nav-pills > li.system > a{
	background-color:#9f9e9e;
}

ol.nav-pills{
	/*list-style-type: upper-alpha;*/
}

.vr{

	border-left:solid 1px #000;
	margin-left:10px;
	margin-right:10px;
}

#root{
	height: 382px;
	overflow: hidden;
}

body {
	margin-top:87px;
	background-image:url('img/leather.jpg');
	background-repeat:no-repeat;
	background-position:center 90px;
	background-color:#000000;
}

#waiting{width:100%;text-align:left;margin-top: 170px;
color: white;margin-left:20px;text-shadow: 2px 2px 10px #000;
font-size: 32pt;}

#sender,#message{font-size:24pt;font-weight:normal;width:100%;line-height:normal;}

#sender{text-align:center;}

#from{
	color:#00a8ff;
}

h1,h2,h3,h4,h5,h6{
	color:#ffffff;
}

#menu,#canvas,#footer{
	
	display:block;
	padding:0em 3em; 
	
}

#menu{
	
	
	
}

	#menu h1{
	
	}

#canvas{
	
	
	
}

#footer{
	
	
	
}



